body{
  background-color: #F5CE18;
  padding: 20px;
}
h1{
  text-align: center;
  color: #A8118D;
  font-size: 250%;
  font-family: "Courier New";
}
h3{
  text-align: center;
  color: #C24C04;
  font-size: 100%;
  font-family: "Courier New";
}
.centerimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
image {
  padding: 100px;
  margin-top: 30px;
}
h2{
  text-align: center;
  color: #F501CA;
  font-size: 150%;
  font-family: "Courier New";
}
p{
  font-family: "Courier New";
  text-align: center;
  color: #08A8A1;
  border-style: groove;
  border-width: thick;
  border-color: #18F5EA;
  padding: 30px;
}

#input {
  text-align: center;
  font-family: "Courier New";
  margin: auto;

}

#output p{
  border-color: hotpink;
  font-family: "Courier New";
  text-align: center;
  color: black;
  border-style: groove;
  border-width: thick;
  border-color: hotpink;
  padding: 30px;
}
